{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": ["react", "import", "react-native", "jsx-a11y"],
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/prefer-stateless-function": [
      0,
      {
        "ignorePureComponents": false
      }
    ],
    "react/no-unescaped-entities": 0,

    "prefer-const": 1,
    "comma-dangle": [
      "error",
      {
        "arrays": "never",
        "objects": "never",
        "imports": "never",
        "exports": "never",
        "functions": "ignore"
      }
    ],
    "no-console": "off",
    "arrow-parens": "off",
    "react/prop-types": "off"
  },
  "env": {
    "es6": true,
    "node": true
  }
}
